[submodule "api/app"]
	path = api/app
	url = https://github.com/devilhyt/asar-api.git
[submodule "web/app"]
	path = web/app
	url = https://github.com/Paxton90/asar-app.git
[submodule "rasa-sdk/rasa-sdk"]
	path = rasa-sdk/rasa-sdk
	url = https://github.com/RasaHQ/rasa-sdk.git
[submodule "rasa/build/initial_project_zh/custom_components/models/albert-base-chinese-ws"]
	path = rasa/build/initial_project_zh/custom_components/models/albert-base-chinese-ws
	url = https://huggingface.co/ckiplab/albert-base-chinese-ws
[submodule "rasa/build/initial_project_zh/custom_components/models/albert-base-chinese-ner"]
	path = rasa/build/initial_project_zh/custom_components/models/albert-base-chinese-ner
	url = https://huggingface.co/ckiplab/albert-base-chinese-ner
